{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "printWidth": 150,
    "parser":"typescript",
    "proseWrap": "preserve"
}
